h1
{
    color: green;
}

 #title{
     color: white;
     font-weight: bolder;
 }

.sub-btn{
    color: white;
    font-weight: bold;
    
    
}
.pro-img{
    height: 50px;
    width:  50px;
}

#bg-img{
    background-image: url('../images/background.jpeg');
}